<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Flask Kakao OAuth App</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' type='text/css' media='screen' href='/static/style.css'>
</head>
<body>
	<div class="Wrapper">
		<div class="title">Flask Kakao OAuth App</div>
		<div class="info">Python을 이용한 Kakao OAuth 연동 로그인 예제입니다.</div>
	
		<div id="kakao" class="kakao_button">
			<img src="/static/kakaolink_btn_small.png" alt="kakao oauth" />
			<span>카카오 로그인</span>
		</div>

		<img id="thumnail" src="" class="thumnail display_none" />
		<div id="nickname" class="nickname display_none"></div>

		<div id="logout" class="logout display_none">
			<span>로그아웃</span>
		</div>

		<div class="footer">
			<div>Contributed by</div>
			<div>
				<span>
					<a href="https://github.com/iml1111" target="_blank">IML</a>
				</span> 
				X
				<span>
					<a href="https://github.com/altmshfkgudtjr" target="_blank">NB</a>
				</span>
			</div>
		</div>
	</div>

	<div id="loading" class="loading display_none">
		<div class="loading_circle"></div>
	</div>
</body>
<script src='/static/main.js'></script>
</html>